# Python
__pycache__/
*.py[cod]
*.egg-info/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# Environment Variables
.env
.env.*
!.env.example  # Keep example env file

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Logs & Databases
*.log
*.sqlite
*.db

# macOS
.DS_Store

# Windows
Thumbs.db